<%- include('./header') %>
<% for(var person of people) { %>

    Name : <%= person._id %>
    <br/>
    Name : <%= person.name %>
    <br/>
    Email : <%= person.email %>

<% } %>

 <%- include('./home') %>

 <%- include('ourservice') %>

<section class="achvmnt-wrp">
	<div class="center-wr">
		<div class="clearfix achvmnt-inr">
			<div class="left">
				<h5 class="wow slideInLeft">Achievement</h5>
				<h3 class="section-title wow fadeInDown">
					Over 1300+ completed <br> work & Still Counting.
				</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into</p>
			</div>
			<div class="right">
				<div class="desktop-circle">
					<div class="c-circlet">
					 <div class="c-circlet_item">
					 	<h4>750+</h4>
					 	<h6>Happy Clients</h6>
					 </div>
					   <div class="c-circlet_item">
					   	<h4>12k</h4>
					   	<h6>Working Hours</h6>
					   </div>
					   <div class="c-circlet_item">
					   	<h4>2k+</h4>
					   	<h6>Projects</h6>
					   </div>
					   <div class="c-circlet_item">
					   	<h4>40</h4>
					   	<h6>Team Members</h6>
					   </div>
					</div>
				</div>
				<div class="responsive-circle">
					<div class="c-circlet_item">
						<h4>750+</h4>
						<h6>Happy Clients</h6>
					</div>
					<div class="c-circlet_item">
						<h4>12k</h4>
						<h6>Working Hours</h6>
					</div>
					<div class="c-circlet_item">
						<h4>2k+</h4>
						<h6>Projects</h6>
					</div>
					<div class="c-circlet_item">
						<h4>40</h4>
						<h6>Team Members</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="portfolio-wrp">
	<div class="center-wr">
		<div class="portfolio-inr">
			<h3 class="section-title wow fadeInDown">
				Some of our best work
			</h3>
			<div class="best-wrk-row">
				<div class="bestwrks wow fadeInRight" data-wow-delay="0.2s" >
					<img src="library/images/portfolio1.jpg" alt="">
					<h4>Creative Agency</h4>
					<span>IOS, Design</span>
				</div>
				<div class="bestwrks wow fadeInRight" data-wow-delay="0.3s">
					<img src="library/images/portfolio2.jpg" alt="">
					<h4>E-commerce</h4>
					<span>Branding</span>
				</div>
				<div class="bestwrks wow fadeInRight" data-wow-delay="0.4s">
					<img src="library/images/portfolio3.jpg" alt="">
					<h4>Website Design</h4>
					<span>Web application</span>
				</div>
				<div class="bestwrks wow fadeInRight" data-wow-delay="0.2s">
					<img src="library/images/portfolio4.jpg" alt="">
					<h4>Landing page Design</h4>
					<span>Branding, Design</span>
				</div>
				<div class="bestwrks wow fadeInRight" data-wow-delay="0.3s">
					<img src="library/images/portfolio5.jpg" alt="">
					<h4>T-Shirt Design</h4>
					<span>Branding</span>
				</div>
				<div class="bestwrks wow fadeInRight" data-wow-delay="0.4s">
					<img src="library/images/portfolio6.jpg" alt="">
					<h4>Web Development</h4>
					<span>Branding</span>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="easy-wrp">
	<div class="center-wr">
		<div class="easy-inr">
			<div class="apps-wrp-left">
				<figure >
					<img src="library/images/PS.jpg" class="psd" alt="">
					<figcaption></figcaption>
				</figure>
				
				<figure>
					<img src="library/images/XD.jpg" class="adobe" alt="">
					<figcaption></figcaption>
				</figure>
				<figure>
					<img src="library/images/An.jpg" class="figma" alt="">
					<figcaption></figcaption>
				</figure>
				<figure>
					<img src="library/images/Figma.jpg" class="anroid" alt="">
					<figcaption></figcaption>
				</figure>
			</div>
			<div>
				<h3 class="section-title wow fadeInDown">Quick & Easy Process </h3>
				<p>40,000 businesses have already chosen the<br>trading system What about you?</p>
			</div>
			<div class="apps-wrp-right">
				<figure>
					<img src="library/images/W.jpg" class="wp" alt="">
					<figcaption></figcaption>
				</figure>
				<figure>
					<img src="library/images/B.jpg" class="bootstrap" alt="">
					<figcaption></figcaption>
				</figure>
				<figure>
					<img src="library/images/HTML.jpg" class="html" alt="">
					<figcaption></figcaption>
				</figure>
				<figure>
					<img src="library/images/A.jpg" class="angular" alt="">
					<figcaption></figcaption>
				</figure>
			</div>
		</div>
	</div>
</section>

<section class="review-wrp">
	<div class="center-wr">
		<div class="review-inr clearfix">
			<div class="left">
				<h5 class="section-title-sml wow slideInLeft">Reviews And Ratings </h5>
				<h3 class="section-title wow fadeInDown">Look what the buyers are saying about theme on conative</h3>
				<a href="index.html" class="common-btn">More Reviews</a>
			</div>
			<div class="right wow slideInRight">
				<div class="testimonial-wrp">
					<div class="testimonials">
						<div>
							<div class="client-profile">
								<span class="client-pic">
									<img src="library/images/test.jpg" alt="">
								</span>
								<span class="client-name">
									<h4>Rich</h4>
									<p>Business Executed</p>
								</span>
							</div>
							<div class="client-rating">
								<ul>
									<li></li><li></li><li></li><li></li><li></li>
								</ul>
							</div>
							<div class="comment">
								<p>We absolutely find it a pleasure to work with Conative Team! They has an amazing graphic designer - I'd put her against the best I know and believe she would win! She is extremely responsive and communicates quite effectively.</p>
							</div>
						</div>
					</div>
					<div class="testimonials">
						<div>
							<div class="client-profile">
								<span class="client-pic">
									<img src="library/images/test.jpg" alt="">
								</span>
								<span class="client-name">
									<h4>Rich</h4>
									<p>Business Executed</p>
								</span>
							</div>
							<div class="client-rating">
								<ul>
									<li></li><li></li><li></li><li></li><li></li>
								</ul>
							</div>
							<div class="comment">
								<p>We absolutely find it a pleasure to work with Conative Team! They has an amazing graphic designer - I'd put her against the best I know and believe she would win! She is extremely responsive and communicates quite effectively.</p>
							</div>
						</div>
					</div>
					<div class="testimonials">
						<div>
							<div class="client-profile">
								<span class="client-pic">
									<img src="library/images/test.jpg" alt="">
								</span>
								<span class="client-name">
									<h4>Rich</h4>
									<p>Business Executed</p>
								</span>
							</div>
							<div class="client-rating">
								<ul>
									<li></li><li></li><li></li><li></li><li></li>
								</ul>
							</div>
							<div class="comment">
								<p>We absolutely find it a pleasure to work with Conative Team! They has an amazing graphic designer - I'd put her against the best I know and believe she would win! She is extremely responsive and communicates quite effectively.</p>
							</div>
						</div>
					</div>
					<div class="testimonials">
						<div>
							<div class="client-profile">
								<span class="client-pic">
									<img src="library/images/test.jpg" alt="">
								</span>
								<span class="client-name">
									<h4>Rich</h4>
									<p>Business Executed</p>
								</span>
							</div>
							<div class="client-rating">
								<ul>
									<li></li><li></li><li></li><li></li><li></li>
								</ul>
							</div>
							<div class="comment">
								<p>We absolutely find it a pleasure to work with Conative Team! They has an amazing graphic designer - I'd put her against the best I know and believe she would win! She is extremely responsive and communicates quite effectively.</p>
							</div>
						</div>
					</div>
					<div class="testimonials">
						<div>
							<div class="client-profile">
								<span class="client-pic">
									<img src="library/images/test.jpg" alt="">
								</span>
								<span class="client-name">
									<h4>Rich</h4>
									<p>Business Executed</p>
								</span>
							</div>
							<div class="client-rating">
								<ul>
									<li></li><li></li><li></li><li></li><li></li>
								</ul>
							</div>
							<div class="comment">
								<p>We absolutely find it a pleasure to work with Conative Team! They has an amazing graphic designer - I'd put her against the best I know and believe she would win! She is extremely responsive and communicates quite effectively.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="conact-wrp">
	<div class="center-wr">
		<div class="clearfix">
			<div class="left">
				<img src="library/images/contact-img2.png" alt="">
			</div>
			<div class="right" id="contact">
				<h5 class="section-title-sml">Contact Us</h5>
				<h3 class="section-title wow fadeInDown">
					Need a help? Don't worry
					just contact us.
				</h3>
				<form class="wow slideInRight">
					<p class="feild50">
						<label for="name">Name*</label><br>
						<input type="text" id="name" name="name" placeholder="Enter your name" required="">
					</p>
					<p class="feild50">
						<label for="email">Email*</label><br>
						<input type="email" id="email" name="email" placeholder="Enter your email" required="">
					</p>
					<p>
						<label for="subject">Subject</label><br>
						<input type="text" id="subject" name="subject" placeholder="Subject here">
					</p>
					<p>
						<label for="messages" >Messages*</label><br>
						<textarea placeholder="Your Message Here..."></textarea>
					</p>
					<p>
						<input type="submit" name="" value="Submit">
					</p>
				</form>
			</div>
		</div>
		<div class="map-location wow bounceIn">
			<img src="library/images/map.png" class="map">
			<figure class="india">
				<a href="https://www.google.com/maps/place/Conative+IT+Solutions+Pvt+Ltd/@22.7287104,75.8882556,15z/data=!4m5!3m4!1s0x0:0x7c09afb7ae4f2c08!8m2!3d22.7287104!4d75.8882556" target="_blank"><img src="library/images/india.png" alt=""></a>
				<figcaption>
					<span>
						<svg width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g filter="url(#filter0_d)">
						<circle cx="43" cy="33" r="23" fill="#FF6347"/>
						</g>
						<path d="M43 21C38.5889 21 35 24.5889 35 29C35 30.3242 35.3311 31.6372 35.9605 32.8018L42.5625 44.7422C42.6504 44.9014 42.8179 45 43 45C43.1821 45 43.3496 44.9014 43.4375 44.7422L50.042 32.7978C50.669 31.6372 51 30.3242 51 29C51 24.5889 47.4111 21 43 21ZM43 33C40.7945 33 39 31.2056 39 29C39 26.7945 40.7945 25 43 25C45.2056 25 47 26.7945 47 29C47 31.2056 45.2056 33 43 33Z" fill="white"/>
						<defs>
						<filter id="filter0_d" x="0" y="0" width="86" height="86" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
						<feOffset dy="10"/>
						<feGaussianBlur stdDeviation="10"/>
						<feColorMatrix type="matrix" values="0 0 0 0 0.113403 0 0 0 0 0.453453 0 0 0 0 0.591667 0 0 0 0.11 0"/>
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
						</filter>
						</defs>
						</svg>
					</span>
					<p><a href="https://www.google.com/maps/place/Conative+IT+Solutions+Pvt+Ltd/@22.7287104,75.8882556,15z/data=!4m5!3m4!1s0x0:0x7c09afb7ae4f2c08!8m2!3d22.7287104!4d75.8882556" target="_blank"> Office No. 217-218, 3rd Floor,<br> Onam Plaza New Palasia,<br> Indore(M.P.) India</a></p>
				</figcaption>
	 		</figure>
	 		<figure class="canada">
	 			<a href=""><img src="library/images/location.png"></a>
	 			<figcaption>
					<span>
						<svg width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g filter="url(#filter0_d)">
						<circle cx="43" cy="33" r="23" fill="#FF6347"/>
						</g>
						<path d="M43 21C38.5889 21 35 24.5889 35 29C35 30.3242 35.3311 31.6372 35.9605 32.8018L42.5625 44.7422C42.6504 44.9014 42.8179 45 43 45C43.1821 45 43.3496 44.9014 43.4375 44.7422L50.042 32.7978C50.669 31.6372 51 30.3242 51 29C51 24.5889 47.4111 21 43 21ZM43 33C40.7945 33 39 31.2056 39 29C39 26.7945 40.7945 25 43 25C45.2056 25 47 26.7945 47 29C47 31.2056 45.2056 33 43 33Z" fill="white"/>
						<defs>
						<filter id="filter0_d" x="0" y="0" width="86" height="86" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
						<feOffset dy="10"/>
						<feGaussianBlur stdDeviation="10"/>
						<feColorMatrix type="matrix" values="0 0 0 0 0.113403 0 0 0 0 0.453453 0 0 0 0 0.591667 0 0 0 0.11 0"/>
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
						</filter>
						</defs>
						</svg>
					</span>
					<p><a href="https://www.google.com/maps/place/Conative+IT+Solutions+Pvt+Ltd/@22.7287104,75.8882556,15z/data=!4m5!3m4!1s0x0:0x7c09afb7ae4f2c08!8m2!3d22.7287104!4d75.8882556" target="_blank"> Office No. 217-218, 3rd Floor,<br> Onam Plaza New Palasia,<br> Indore(M.P.) India</a></p>
				</figcaption>
	 		</figure>
	 		<figure class="australia">
	 			<a href=""><img src="library/images/location.png"></a>
	 			<figcaption>
					<span>
						<svg width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g filter="url(#filter0_d)">
						<circle cx="43" cy="33" r="23" fill="#FF6347"/>
						</g>
						<path d="M43 21C38.5889 21 35 24.5889 35 29C35 30.3242 35.3311 31.6372 35.9605 32.8018L42.5625 44.7422C42.6504 44.9014 42.8179 45 43 45C43.1821 45 43.3496 44.9014 43.4375 44.7422L50.042 32.7978C50.669 31.6372 51 30.3242 51 29C51 24.5889 47.4111 21 43 21ZM43 33C40.7945 33 39 31.2056 39 29C39 26.7945 40.7945 25 43 25C45.2056 25 47 26.7945 47 29C47 31.2056 45.2056 33 43 33Z" fill="white"/>
						<defs>
						<filter id="filter0_d" x="0" y="0" width="86" height="86" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
						<feOffset dy="10"/>
						<feGaussianBlur stdDeviation="10"/>
						<feColorMatrix type="matrix" values="0 0 0 0 0.113403 0 0 0 0 0.453453 0 0 0 0 0.591667 0 0 0 0.11 0"/>
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
						</filter>
						</defs>
						</svg>
					</span>
					<p><a href="https://www.google.com/maps/place/Conative+IT+Solutions+Pvt+Ltd/@22.7287104,75.8882556,15z/data=!4m5!3m4!1s0x0:0x7c09afb7ae4f2c08!8m2!3d22.7287104!4d75.8882556" target="_blank"> Office No. 217-218, 3rd Floor,<br> Onam Plaza New Palasia,<br> Indore(M.P.) India</a></p>
				</figcaption>
	 		</figure>
		</div>
		<div class="responsive-address">
			<div class="center-wr">
				<div class="addresses">
					<span>
						<svg width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g filter="url(#filter0_d)">
						<circle cx="43" cy="33" r="23" fill="#FF6347"/>
						</g>
						<path d="M43 21C38.5889 21 35 24.5889 35 29C35 30.3242 35.3311 31.6372 35.9605 32.8018L42.5625 44.7422C42.6504 44.9014 42.8179 45 43 45C43.1821 45 43.3496 44.9014 43.4375 44.7422L50.042 32.7978C50.669 31.6372 51 30.3242 51 29C51 24.5889 47.4111 21 43 21ZM43 33C40.7945 33 39 31.2056 39 29C39 26.7945 40.7945 25 43 25C45.2056 25 47 26.7945 47 29C47 31.2056 45.2056 33 43 33Z" fill="white"/>
						<defs>
						<filter id="filter0_d" x="0" y="0" width="86" height="86" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
						<feOffset dy="10"/>
						<feGaussianBlur stdDeviation="10"/>
						<feColorMatrix type="matrix" values="0 0 0 0 0.113403 0 0 0 0 0.453453 0 0 0 0 0.591667 0 0 0 0.11 0"/>
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
						</filter>
						</defs>
						</svg>
					</span>
					<p><a href="https://www.google.com/maps/place/Conative+IT+Solutions+Pvt+Ltd/@22.7287104,75.8882556,15z/data=!4m5!3m4!1s0x0:0x7c09afb7ae4f2c08!8m2!3d22.7287104!4d75.8882556" target="_blank"> Office No. 217-218, 3rd Floor,<br> Onam Plaza New Palasia,<br> Indore(M.P.) India</a></p>
				</div>
				<div class="addresses">
					<span>
						<svg width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g filter="url(#filter0_d)">
						<circle cx="43" cy="33" r="23" fill="#FF6347"/>
						</g>
						<path d="M43 21C38.5889 21 35 24.5889 35 29C35 30.3242 35.3311 31.6372 35.9605 32.8018L42.5625 44.7422C42.6504 44.9014 42.8179 45 43 45C43.1821 45 43.3496 44.9014 43.4375 44.7422L50.042 32.7978C50.669 31.6372 51 30.3242 51 29C51 24.5889 47.4111 21 43 21ZM43 33C40.7945 33 39 31.2056 39 29C39 26.7945 40.7945 25 43 25C45.2056 25 47 26.7945 47 29C47 31.2056 45.2056 33 43 33Z" fill="white"/>
						<defs>
						<filter id="filter0_d" x="0" y="0" width="86" height="86" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
						<feOffset dy="10"/>
						<feGaussianBlur stdDeviation="10"/>
						<feColorMatrix type="matrix" values="0 0 0 0 0.113403 0 0 0 0 0.453453 0 0 0 0 0.591667 0 0 0 0.11 0"/>
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
						</filter>
						</defs>
						</svg>
					</span>
					<p><a href="https://www.google.com/maps/place/Conative+IT+Solutions+Pvt+Ltd/@22.7287104,75.8882556,15z/data=!4m5!3m4!1s0x0:0x7c09afb7ae4f2c08!8m2!3d22.7287104!4d75.8882556" target="_blank"> Office No. 217-218, 3rd Floor,<br> Onam Plaza New Palasia,<br> Indore(M.P.) India</a></p>
				</div>
				<div class="addresses">
					<span>
						<svg width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g filter="url(#filter0_d)">
						<circle cx="43" cy="33" r="23" fill="#FF6347"/>
						</g>
						<path d="M43 21C38.5889 21 35 24.5889 35 29C35 30.3242 35.3311 31.6372 35.9605 32.8018L42.5625 44.7422C42.6504 44.9014 42.8179 45 43 45C43.1821 45 43.3496 44.9014 43.4375 44.7422L50.042 32.7978C50.669 31.6372 51 30.3242 51 29C51 24.5889 47.4111 21 43 21ZM43 33C40.7945 33 39 31.2056 39 29C39 26.7945 40.7945 25 43 25C45.2056 25 47 26.7945 47 29C47 31.2056 45.2056 33 43 33Z" fill="white"/>
						<defs>
						<filter id="filter0_d" x="0" y="0" width="86" height="86" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
						<feOffset dy="10"/>
						<feGaussianBlur stdDeviation="10"/>
						<feColorMatrix type="matrix" values="0 0 0 0 0.113403 0 0 0 0 0.453453 0 0 0 0 0.591667 0 0 0 0.11 0"/>
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
						</filter>
						</defs>
						</svg>
					</span>
					<p><a href="https://www.google.com/maps/place/Conative+IT+Solutions+Pvt+Ltd/@22.7287104,75.8882556,15z/data=!4m5!3m4!1s0x0:0x7c09afb7ae4f2c08!8m2!3d22.7287104!4d75.8882556" target="_blank"> Office No. 217-218, 3rd Floor,<br> Onam Plaza New Palasia,<br> Indore(M.P.) India</a></p>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include('./footer') %>